{% extends 'base.html.twig' %}
{% block body %}
    <div id="root" >
        <h1>Top 100 Players</h1>
        {% for user in users %}
            <li>{{ user.username|e }}</li>
        {% endfor %}</div>
    You need to <a href ='login'>log in</a> to play
{% endblock %}
{% block stylesheets %}
{% endblock %}
